pip install fastapi==0.115.0
pip install uvicorn[standard]==0.30.6
pip install tensorflow==2.17.0
pip install scikit-learn==1.7.2
pip install joblib==1.4.2
pip install numpy==1.26.4
pip install librosa==0.10.2.post1
pip install python-multipart==0.0.9
